.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.cardImage {
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.stand-button {
  width: 100px;
  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
  background-color:#3d94f6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
}

.hit-button,
.retry-button {
  width: 100px;
  margin-right: 20px;
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24537;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}


.retry-button {
  width: 150px;
}

.covered img {
  visibility: hidden;
}
.covered{
  border: solid 1px black;
  background-image: url(../img/card-back.png);
  background-repeat: none;
  background-size: 100px 140px;
}

.gameArea {
  border: solid 5px black;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 75px;
  padding: 30px;
  width: 800px;
  height: 465px;
  background-image: url(../img/background.png);
}